.App {
  text-align: center;
}

/* .parent {
  padding: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
  border-right: solid 3px black;
  border-bottom: solid 3px black;
}
.div2 {
  grid-area: 1 / 2 / 2 / 3;
  border-right: solid 3px black;
  border-bottom: solid 3px black;
}
.div3 {
  grid-area: 1 / 3 / 2 / 4;
  border-bottom: solid 3px black;
}
.div4 {
  grid-area: 2 / 1 / 3 / 2;
  border-right: solid 3px black;
  border-bottom: solid 3px black;
}
.div5 {
  grid-area: 2 / 2 / 3 / 3;
  border-right: solid 3px black;
  border-bottom: solid 3px black;
}
.div6 {
  grid-area: 2 / 3 / 3 / 4;
  border-bottom: solid 3px black;
}
.div7 {
  grid-area: 3 / 1 / 4 / 2;
  border-right: solid 3px black;
}
.div8 {
  grid-area: 3 / 2 / 4 / 3;
  border-right: solid 3px black;
}
.div9 {
  grid-area: 3 / 3 / 4 / 4;
} */

.board {
  text-align: center;
  margin: auto;
}

.board-row {
  display: flex;
  justify-content: center;
}

.btn {
  height: 120px;
  width: 120px;
  font-size: 50px;
}
